<div *ngIf="values; else notLoadedBlock">
  <md-expansion-panel>
    <md-expansion-panel-header>
      <div fxLayout style="width: 80%">
        <span style="width: 80%">Математическое ожидание</span>
        <span>{{values.mathOjidanie}}</span>
      </div>
    </md-expansion-panel-header>
    <p>
      Математическое ожидание - характеризует среднее значение случайно величины и определяется по формулам/
    </p>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <div fxLayout style="width: 80%">
        <span style="width: 80%">Дисперсия</span>
        <span>{{values.dispersiya}}</span>
      </div>
    </md-expansion-panel-header>
    <p>
      Дисперсия характеризует степень рассеивания относительно матического ожидания
    </p>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <div fxLayout style="width: 80%">
        <span style="width: 80%">Мода</span>
        <span>{{values.moda}}</span>
      </div>
    </md-expansion-panel-header>
    <p>
      Мода - значение, которое случайная величина примет с максимальной вероятностью. Например, в задании выбрать красную карту из трёх, где только красных карт две
      , мода равна красной карте, потому что вероятность выбрать красную карту больше, чем чёрную.
    </p>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <div fxLayout style="width: 80%">
        <span style="width: 80%">Медина</span>
        <span>Не реализовано</span>
      </div>
    </md-expansion-panel-header>
    <p>
      Медиана - такое значение, для которого вероятности выбрать значение меньшее медианы и большее медианы в ранжированном ряду равны. 
    </p>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <div fxLayout style="width: 80%">
        <span style="width: 80%">Размах</span>
        <span>{{values.razmah}}</span>
      </div>
    </md-expansion-panel-header>
    <p>
      Размах - разница между максимальным и минимальным значениями выборки.
    </p>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <div fxLayout style="width: 80%">
        <span style="width: 80%">Среднее квадратичное отклонение(СКО)</span>
        <span>{{values.sko}}</span>
      </div>
    </md-expansion-panel-header>
    <p>
      Серднее квадратическое отклонение характеризует ширину диапозона значений, принемаемых случайной величиной
    </p>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <div fxLayout style="width: 80%">
        <span style="width: 80%">Ассиметрия</span>
        <span>{{values.assimetiya}}</span>
      </div>
    </md-expansion-panel-header>
    <p>
      Ассиметрия - показывает ассиметричность графика, если ассиметрия больше нуля, то грфаик вытянут вправо, меньше нуля - влево, равна нуля - график симметричен.
    </p>
  </md-expansion-panel>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <div fxLayout style="width: 80%">
        <span style="width: 80%">Эксцесс</span>
        <span>{{values.excess}}</span>
      </div>
    </md-expansion-panel-header>
    <p>
      Эксцесс характеризует степень крутости распределения относительно кривой нормального распределения.
    </p>
  </md-expansion-panel>
</div>
<ng-template #notLoadedBlock>
  <span>Loading...</span>
</ng-template>