<md-toolbar color="primary">
  <span>ТВИМС</span>
</md-toolbar>
<nav md-tab-nav-bar>
  <a md-tab-link
    [routerLink]="count"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive">
      Математические величины
    </a>
    <a md-tab-link
    [routerLink]="count"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive">
      Графики
    </a>
    <a md-tab-link
    [routerLink]="count"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive">
      Доказательства гипотез
    </a>
</nav>

<router-outlet></router-outlet>